{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/Accueil.css') }}">
{% endblock %}
{% block body %}
    <video poster="" id="bgvid" playsinline autoplay muted loop>
        <!--
      - Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
      WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="http://webm.land/media/IfsO.webm" type="video/webm">
        <source src="http://www.k-upload.fr/afficher-video-2018-05-17-1f8af2446imcfworldcha.mp4" type="video/mp4">

    </video>


    <!--bg img  -->
    <header>
        <div class="logo">
            <img src="assets/images/logo.png" alt="logo">
            <h1>Battle Nations</h1>
        </div>

{% endblock %}