$brand-primary: darken(#428bca, 20%);
body{
  color: $brand-primary;
}
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

 // set if you're also including font-awesome
// $fa-font-path: "~font-awesome/fonts";
body {
  margin: 0;
  background: #000;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: transparent;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}


@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background:  #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
/*scroll effect*/
.navbar-trans {
  background-color: transparent;
  border: none;
  transition: top 1s ease;
}

/*double row*/
.navbar-doublerow > .navbar{
  display: block;
  padding: 0px auto;
  margin: 0px auto;
  min-height: 25px;
}
.navbar-doublerow .nav{
  padding: 0px auto;
}
.navbar-doublerow .dividline{
  margin: 5px 100px;
  padding-top: 1px;
  background-color: inherit;
}
/*top nav*/
.navbar-doublerow .navbar-top ul>li>a {
  padding: 10px auto;
  font-size: 12px;
}
/*down nav*/
.navbar-doublerow .navbar-down .navbar-brand {
  padding: 0px auto;
  float: left;
  color: #fff;
  font-size: 32px;
}
.navbar-doublerow .navbar-down ul>li>a{
  font-size: 16px;
  color: #fff;
  transition: border-bottom .2s ease-in , transform .2s ease-in-out;
}
.navbar-doublerow .navbar-down ul>li>a:hover{
  border-bottom: 1px solid #fff;
  color: #fff;
}
.navbar-doublerow .navbar-down .dropdown{
  padding: 5px;
  color: #000;
}
.navbar-doublerow .navbar-down .dropdown ul>li>a,
.navbar-doublerow .navbar-down .dropdown ul>li>a:hover{
  color: #000;
  border-bottom: none;
}
.navbar-doublerow.navbar-trans.afterscroll {
}
.navbar-doublerow.navbar-trans.afterscroll {
  top:-50px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
.flex-item {
}
/*text*/
.text-white,.text-white-hover:hover{color:#fff!important}
/*fontcolor*/
.light-grey {color:#000!important;background-color:#E6E9ED!important}
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  margin:0px;
  font-family:'Roboto';
  text-align:center;
}

#container {
  color:#999;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  padding-top:200px;
  position:fixed;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

// the ~ allows you to reference things in node_modules
@import '~bootstrap-sass/assets/stylesheets/bootstrap';