
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}
{% block header %}
{% endblock %}
{% block body %}

    <h1 style="text-align: center">Espace administration</h1>
  <div class="container">
    <table class="table">
        <td><a href="{{ path('joueur_index') }}">Joueurs</a></td>
        <td><a href="{{ path('equipe_index') }}">Equipes</a></td>

    </table>
  </div>

    <div>
        <img src="{{ asset('/assets/images/Combat-medieval.jpg') }}" alt="drapeau" style="width: 100%"></td>
    </div>
{% endblock %}
