body{
    background-image: url("/assets/images/admin1.jpg");
    no-repeat center fixed;
    background-size: cover;

}

.container{
    margin: 10%;
    margin-left: 400px;
}

button[type=submit] {
    background-color: black;
    text-align: center;
}

button[type=submit]:hover{
    background-color: #999999;
    color:black;
    border: black;

}

button[type=submit]:hover > i{
    color: black;
}
button[type=submit] > i {
    color: #fff;
}
.col-md-6.mx-auto {
    color: #fff;
    font-size: 19px;
}
#uname1 {

    background: transparent;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;

}
.form-control.form-control-lg.rounded-0 {
    background: transparent;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
}
