body {
    background-color: black;
}

.drapeau {
    width: 80vw;
    margin: auto;
    margin-top: 180px;
    font-family: Raleway, sans-serif;
}

.carte {
    background-color: #C9C9C9;
    transition: all .2s ease-in-out;
}

.carte:hover {
    background-color: #9e9e9e;
    transform: scale(1.1);
}